

.my-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
}

.content {
  display: flex;
}

.my-header,
.main-content, 
.my-footer,
aside {
  padding: 20px;
}

.main-content {
  flex: 1
}

aside {
  flex-basis: 250px;
  background-color: #61dafb4f;
}

.my-footer {
  background-color: #282c34;
}
